<h1>Here are all the user's answers!</h1>
<% @questions.each do |q| %>
    <h2 class="separator"><%= q.description %></h2>
    <% q.answers.each do |a| %>
        <% per = percentage(q, a) %>
        <p>
            <strong><%= a.description %></strong><br />
            <progress value="<%= per.round(0) %>" max="100"></progress>
            <span class="percentage"><%= per %>%</span>
        </p>
    <% end %>
<% end %>
